<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        height: 100%;
      }

      body {
        height: 100%;
      }

      .container {
        height: 100%;
        display: flex;
      }

      .editor {
        width: 50%;
      }
    </style>
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="editor">
        <div id="editor-a"></div>
      </div>
      <div class="editor">
        <div id="editor-b"></div>
      </div>
    </div>
  </body>
</html>
